---
platform: linux
image_resource:
  type: docker-image
  source:
    repository: cfplatformeng/tile-generator
    tag: v13.0.3
inputs:
- name: gcp-service-broker-ci
- name: gcp-service-broker
  path: src/gcp-service-broker
- name: metadata

outputs:
- name: tiles

run:
  path: gcp-service-broker-ci/ci/tasks/build-tile.sh
