code_branch: master
ci_branch: master

artifacts_bucket_name:
artifacts_json_key:

version_bucket_name:
version_access_key_id:
version_secret_access_key:

integration_test_db_username:
integration_test_db_password:
integration_test_db_host:
integration_test_service_account_json:
